{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSameLine": false,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": [
    "^react.*$",
    "<THIRD_PARTY_MODULES>",
    "^@mantine.*$",
    "^meridian/(.*)$",
    "^../.*$",
    "^./.*$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}